<div class="header">
    <mat-toolbar color="primary">
        <span> Angular Editor</span>
        <div class="tools">
            <app-editor-control #editorControl [editor]="editorContainer"></app-editor-control>
        </div>
    </mat-toolbar>
</div>
<div class="container">
    <div class="box tree-view">
        <app-tree-view #tree [components]="components"></app-tree-view>
    </div>
    <div #editorContainer class="box editor">
        <mat-card style="padding:0px" [style.zoom]="editorControl.zoom/100" [style.width]="editorControl.width" [style.minHeight]="300" [style.height]="editorControl.height">
            content
        </mat-card>
    </div>
    <div class="box object-inspector">
        <app-objectinspector [component]="tree.selected">
        </app-objectinspector>
    </div>
</div>