<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding (click)="selectComponent(node)" [ngClass]="{'component': true, 'component-selected': isSelected(node)}">
    <button mat-icon-button disabled></button> 
    
   <span>
    {{node.component.type.friendlyName}} 
    </span>
    <span class="tools">
    </span>
    
    <button mat-icon-button class="action">
      <mat-icon  title="add new subcomponent">add</mat-icon>
    </button>
    <button mat-icon-button class="action">
      <mat-icon  title="clone component">filter_none</mat-icon>
    </button>
    <button mat-icon-button class="action">
      <mat-icon title="delete">delete</mat-icon>
    </button>
    <span class="count" *ngIf="node.component.componentCount!=0"> 
      {{ node.component.componentCount }}
    </span>
    
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding (click)="selectComponent(node)" class="component"
    [ngClass]="{'component': true, 'component-selected': isSelected(node)}">
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}
      </mat-icon>
    </button>
    
    <span>
    {{node.component.type.friendlyName}} 
    </span>
    <span class="tools">
    </span>
    
    <button mat-icon-button class="action">
      <mat-icon  title="add new subcomponent">add</mat-icon>
    </button>
    <button mat-icon-button class="action">
      <mat-icon  title="clone component">filter_none</mat-icon>
    </button>
    <button mat-icon-button class="action">
      <mat-icon title="delete">delete</mat-icon>
    </button>
    <span class="count"> 
      {{ node.component.componentCount }}
    </span>
  </mat-tree-node>
</mat-tree>