mat-tree {
    width:345px;
    background-color: #f1f1f1;
    padding:10px
}
mat-tree-node:hover .action {
  display: inline-block;
}
.action {
  display:none;
}
.count {
    color: #999;
    padding-right: 5px;
}
.tools {
  flex: 1 1 auto;
  text-align: center;
}

.component:hover {
   background: 	#eadede;
}

.component-selected {
    background: #eadede;
}


.component-selected:hover {
    background: #eadede;
    /*#FFFAFA*/;
}